#stream_list_title {
    position: absolute;
    top: 5vh;
    left: 6vh;
    color: var(--tm_fc_header);
    font-size: 2.5vh;
}

#stream_list_frame {
    position: absolute;
    width: 30vh;
    height: 60vh;
    top: 10vh;
    left: 5vh;
    color: var(--tm_fc_content);
    font-size: 2vh;
    border-radius: 2vh;
    text-align: center;
    line-height: 7vh;
}

#stream_main_frame {
    position: absolute;
    width: 30vh;
    height: 7vh;
    top: 73vh;
    left: 5vh;
    color: var(--tm_fc_content);
    font-size: 2vh;
    border-radius: 2vh;
    text-align: center;
    line-height: 7vh;
}

#stream_none {
    color: var(--tm_fc_content_fade);
    font-size: 2vh;
}

.stream_list_item {
    cursor: pointer;
}
.stream_list_item:hover {
    color: var(--tm_fc_header);
}
.stream_list_item.live {
    text-decoration: underline;
    text-decoration-color: var(--tm_accent);
    text-decoration-thickness: 0.3vh;
}

#stream_req_text {
    cursor: pointer;
    position: absolute;
    width: 30vh;
    top: 82vh;
    left: 5vh;
    font-size: 1.5vh;
    text-align: center;
    color: var(--tm_fc_content_fade);
}


.live_stream_frame:first-child {
    position: absolute;
    width: 100vh;
    height: 56.25vh;
    right: calc(50vw - 40vh);
    bottom: 20vh;
    border-radius: 2vh;
}

.live_stream_frame:nth-child(1n+2) {
    position: absolute;
    width: 26.66vh;
    height: 15vh;
    right: calc(50vw - 70vh + var(--stream_order) * 30vh);
    bottom: 3vh;
    border-radius: 2vh;
}


#live_game_title {
    position: absolute;
    width: 40vh;
    height: 7vh;
    top: 2vh;
    right: 5vh;
    color: var(--tm_fc_content);
    font-size: 2vh;
    border-radius: 2vh;
    text-align: center;
    line-height: 7vh;
}

#standings {
    position: absolute;
    width: 40vh;
    height: 70vh;
    top: 12vh;
    right: 5vh;
}

.std_title {
    position: relative;
    color: var(--tm_fc_header);
    font-size: 3vh;
    margin: 0;
}
#std_game {
    color: var(--tm_fc_accent);
}

#standings_list {
    position: relative;
    margin-top: 1vh;
}

.std_item {
    font-size: 2.5vh;
    line-height: 4vh;
    position: absolute;
    top: calc(5vh * var(--rank));
    left: 0;
    transition: top 0.2s ease-out;
}

.std_num {
    float: left;
    text-align: right;
    color: var(--tm_fc_content);
    width: 5vh;
}

.std_col {
    float: left;
    margin-left: 2vh;
    width: 1vh;
    height: 4vh;
}

.std_name {
    float: left;
    width: 18vh;
    height: 4vh;
    background-color: var(--tm_bg_standing);
    color: var(--tm_fc_content_dark);
    padding-left: 2vh;
}

.std_pts {
    float: left;
    margin-left: -5vh;
    width: 15vh;
    height: 4vh;
    color: var(--tm_fc_content);
    padding-left: 2vh;
    background: linear-gradient(-50deg, transparent 20%, var(--tm_accent) 21%, var(--tm_accent) 79%, transparent 80%);
}

.std_pts > div {
    width: 10vh;
    text-align: right;
}