body {
    overflow: hidden;
    background-color: var(--tm_bg);
    margin: 0;
    font-family: var(--tm_font);
}

#background_img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: opacity(0%);
    transition: filter 0.5s linear;
    pointer-events: none;
    z-index: -100;
}

#background_img.show {
    filter: opacity(50%);
}

/* ---- header ---- */

    #top_header {
        width: 100%;
        height: 6vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--tm_accent);
    }

    #title {
        font-family: var(--tm_font_light);
        font-size: 3vh;
        line-height: 6vh;
        color: var(--tm_fc_title);
        margin: 0 1vh;
        white-space: nowrap;
    }

    #title_options_bt {
        position: absolute;
        right: 1vh;
        top: 1vh;
        width: 4vh;
    }

    #title_options_bt line {
        stroke: white;
        stroke-width: 15;
    }

/* ---- categories ---- */

    #top_page {
        margin: 9vh 5vh;
    }

    #page_list {
        font-size: 2.3vh;
    }

    .pagelist_item {
        margin: 0;
        padding: 0.3vh 1.5vh;
        color: var(--tm_fc_header);
        cursor: pointer;
    }

    .pagelist_item.active {
        background-color: var(--tm_page_active_hl);
        color: var(--tm_page_active_font);
        border-radius: 0.5vh;
    }

/* ---- content ---- */

    #main_content {
        position: fixed;
        top: 13vh;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 87vh;
    }

    .content_frame {
        background-color: var(--tm_bg2_tr);
        border-radius: 3vh;
        backdrop-filter: blur(2vh);
    }

    #floating_window {
        background-color: var(--tm_bg2);
        padding: 5vh;
        margin: auto;
        max-width: fit-content;
        max-height: fit-content;
        color: var(--tm_fc_header);
    }

/* ---- loading ---- */

    #loading {
        z-index: -10;
        pointer-events: none;
        width: 20vh;
        margin: 25vh auto;
        filter: opacity(100%);
    }
    #loading.hide {
        filter: opacity(0);
        transition: filter 0.1s;
    }
    #load_logo {
        fill: none;
        stroke: var(--tm_accent);
        stroke-miterlimit: 100;
        stroke-width: 30
    }
    @keyframes loading1 {
        0% {
            stroke-dasharray: 20% 1000%;
        }
        50% {
            stroke-dasharray: 40% 1000%;
        }
        100% {
            stroke-dasharray: 20% 1000%;
        }
    }
    @keyframes loading2 {
        0% {
            transform: rotate(-90deg);
        }
        100% {
            transform: rotate(270deg);
        }
    }
    #load_circle {
        fill: none;
        stroke: var(--tm_fc_header);
        stroke-miterlimit: 100;
        stroke-width: 10;
        transform-origin: center;
        animation: loading1 2s linear infinite, loading2 2s cubic-bezier(0.6, 0.1, 0.4, 0.9) infinite;
    }

/* ---- generic ---- */

    .horizontal_list {
        list-style: none;
        overflow: auto;
    }

    .horizontal_list > li {
        float: left;
    }

    .hidden {
        display: none;
    }

    .anim_appear {
        animation: anim_appear;
        animation-duration: var(--anim_l);
        animation-delay: var(--anim_d);
    }

    @keyframes anim_appear {
        0% {
            filter: opacity(0);
        }
        100% {
            filter: opacity(100%);
        }
    }

    .hidescrollbar {
        scrollbar-width: none;
    }
    .hidescrollbar::-webkit-scrollbar {
        display: none;
    }



@media (min-width: 70vh) {
    #title_options_bt {
        display: none;
    }
}

@media (max-width: 133vh) {
    #top_page {
        margin: 9vh 0;
        position: relative;
        z-index: 1000;
    }
}

@media (max-width: 70vh) {
    #title {
        display: none;
    }
    #top_page {
        margin: 6vh 0;
        position: relative;
        z-index: 1000;
        display: none;
    }
    #top_page.show {
        display: block;
    }
    #page_list {
        width: 100%;
        padding: 1vh 2vh;
        background-color: var(--tm_accent);
    }
    .horizontal_list > li.pagelist_item {
        float: none;
        width: 50vw;
    }
}