#std_tourney_sel {
    margin: 1vh 0 0 12.5vh;
    font: 2vh var(--tm_font);
    color: var(--tm_fc_header);
    background-color: var(--tm_bg_table);
    border-color: transparent;
    border-radius: 0.5vh;
}

#group_list {
    font-size: 2vh;
    padding: 0;
    margin: 0 0 1vh;
}

.glist_item {
    margin: 0;
    padding: 0.3vh 1.5vh;
    color: var(--tm_fc_header2);
    cursor: pointer;
}

.glist_item:hover {
    color: var(--tm_fc_hover);
}

.glist_item.active {
    color: var(--tm_fc_header);
}

.glist_item.active::after {
    content: "";
    width: calc(100% + 1vh);
    height: 0.2vh;
    background-color: var(--tm_accent);
    position: relative;
    display: block;
    margin-top: 0.5vh;
    margin-left: -0.5vh;
}


.content_frame {
    width: calc(100vw - 35vh);
    height:70vh;
    margin: 2vh auto;
    padding: 3vh 5vh;
}

#played {
    position: relative;
}

.std_title {
    color: var(--tm_fc_header);
    font-size: 3vh;
    margin: 0;
}

#std_game {
    color: var(--tm_fc_accent);
}

#standings {
    position: relative;
    margin-top: 3vh;
    height: calc(12 * 5vh);
}

.std_item {
    font-size: 2.5vh;
    line-height: 4vh;
    position: absolute;
    top: calc(5vh * var(--rank));
    left: 0;
    transition: top 0.2s ease-out;
    cursor: pointer;
}
.std_item > div {
    pointer-events: none;
}

.std_num {
    float: left;
    text-align: right;
    color: var(--tm_fc_content);
    width: 5vh;
}

.std_col {
    float: left;
    margin-left: 2vh;
    width: 1vh;
    height: 4vh;
}

.std_name {
    float: left;
    width: 32vh;
    height: 4vh;
    background-color: var(--tm_bg_standing);
    color: var(--tm_fc_content_dark);
    padding-left: 2vh;
}

.std_pts {
    float: left;
    margin-left: -7vh;
    width: 15vh;
    height: 4vh;
    color: var(--tm_fc_content);
    padding-left: 2vh;
    background: linear-gradient(-50deg, transparent 20%, var(--tm_accent) 21%, var(--tm_accent) 79%, transparent 80%);
    transition: margin-left 0.1s linear;
}

.std_item:hover > .std_pts {
    margin-left: -5vh;
}

.std_pts > div {
    width: 10vh;
    text-align: right;
}

#scoregraph {
    position: absolute;
    right: 0;
    top: 0;
}

#scoregraph_svg {
    width: 100vh;
    height: 70vh;
}

.svg_tx {
    transform: translate(calc(-7.5px + 15px * var(--x)), 1px)
}

.svg_score_grp {
    filter: opacity(100%);
    transition: filter 0.1s linear;
}

.dofade .svg_score_grp {
    filter: opacity(30%);
}

.dofade .svg_score_grp.nofade {
    filter: opacity(100%);
}